@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: greenyellow;
    text-align: center;
    font-family: 'Joan', serif;
}
body > div{
    margin: 9.765625vw auto;
    width: 32.552083333333336vw;
    font-size: 1.6276041666666667vw;   
}
button{
    width: 9.765625vw;
    height: 3.2552083333333335vw;
    border-radius: 1.3020833333333333vw;
    font-size: 1.3020833333333333vw;
    border: none;
    background-color: black;
    margin-top: 3.2552083333333335vw;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 550px){
    body > div{
        width: 250px;
        font-size: 12px;
    }
    button{
        width: 100px;
        height: 30px;
        font-size: 12px;
    }
}
@media screen and (max-width: 350px){
    body > div{
        width: 200px;
        font-size: 8px;
    }
    button{
        width: 70px;
        height: 30px;
        font-size: 10px;
    }
}